
body{
    background-image: url(imagenes/fondo2.jpg);
}

.div1{
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.barra{
    margin: 20px;
    margin-left: 0px;
    padding: 10px;
    background-color: rgb(16, 97, 66);
}

/*
.navegator{ 
    margin: 20px;
    padding: 100px auto;
    display: inline-block;
}*/

a{
    color: rgb(187, 152, 211);
    margin: 0px;
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
}

.navegator a:hover{
	background-color: rgb(51, 67, 138);
	transition: 0.2s;
	transform:scale(1);
    
}

.navegator a:active{
    border: 5px outset rgb(133, 125, 180);
    transition: 0.1s;
}

.div2{
    display: flex;
    flex-direction: row;
    justify-items: center;

}


.container{
    background-color: coral;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.contenedor{
    height: 500px;
    background-color: #83dae0;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.hijo{
   background-color: rgb(198, 164, 230);
   width: 95%;
   height: 30%;
   color: rgb(10, 6, 6);
   margin: 10px;
   padding: 20px;
   font-size: 15px;
   text-align: center;
}

.hijo3{
    background-color: rgb(198, 164, 230);
    width: 95%;
    height: 30%;
    color: rgb(10, 6, 6);
    margin: 10px;
    padding: 20px;
    font-size: 9px;
    text-align: center;
 }

aside{
  
    height: 500px;
    background-color: rgba(131, 184, 124, 0.952);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
   
}

.hijo2{
    background-color: rgb(211, 142, 176);
    width: 70%;
    height: 80%;
    color: rgb(10, 6, 6);
    margin: 30px;
    padding: 30px;
    font-size: 10px;
    text-align: left;
}

.Recetas{
    background-color: rgb(161, 37, 37);
    display: flex;
    flex-direction: column;
}


.imagenes{
    background-color: rgb(161, 37, 37);
    padding: 40px;
    display: flex;
    flex-direction: row;
}

footer{
    background-color: rgb(243, 210, 119);
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
